body{
	font-size: 20px;
	font-family: 'indieFlower', sans-serif;
	background: #233D58;	
}
nav{
	border: 1px solid #e7e7e7;
	background-color: #FFFFFF;
	position: fixed;
	margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
}

li {
	 text-align: center;
	 margin: 1px 30px 1px 30px;
	 display: inline;
	 list-style-type: none;
     
}

li a{
	color: #201E1E;
}

a:link   
{   
 text-decoration:none;   
}

.cambiar{
	 display: inline;
	 padding:5px 9px;
	 transition-property: background;
  	 transition-duration: 1s;
  	 transition-timing-function: linear;
}
.cambiar:hover
{
	 display: inline;
     background:#63ADD0;
  	 color:#494c46;
  	 padding:5px 9px;
  	 -webkit-transform: scale(0.8);
  	 -ms-transform: scale(0.8);
  	 transform: scale(0.8);
}

.cambiarnaranja{
	 display: inline;
	 padding:5px 9px;
	 transition-property: background;
  	 transition-duration: 1s;
  	 transition-timing-function: linear;
}
.cambiarnaranja:hover
{
	 display: inline;
     background:#FFCC96;
  	 color:#494c46;
  	 padding:5px 9px;
  	 -webkit-transform: scale(0.8);
  	 -ms-transform: scale(0.8);
  	 transform: scale(0.8);
}

#ioMenu{
	 display:flex;
	 flex-direction: row;
	 flex-wrap: wrap;
	 justify-content: center;
	 align-content: center;
	 align-items: center;
}

@media screen and (min-width: 480px){
	body{
		background: white;
	}
}

@media screen and (min-width: 600px){
	body{
		background: white;
	}
}

@media screen and (min-width: 767px){
	body{
		background: white;
	}
}

@media screen and (min-width: 950px){
	body{
		background: white;
	}
}

